@page "/"

<PageTitle>Início</PageTitle>

<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            
            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="index.html"><img src="assets/icons/android/android-launchericon-48-48.png" alt="alternative"></a>
            @* <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a>   *@

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Mark</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#header">Início <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#agenda">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#hinos">Hinos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#testemunhos">Testemunhos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#faq">Perguntas Frequentes</a>
                    </li>
@*                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drop</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item page-scroll" href="project.html">Project Details</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item page-scroll" href="terms.html">Terms Conditions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item page-scroll" href="privacy.html">Privacy Policy</a>
                        </div>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#mensagem">Mensagem</a>
                    </li>
                </ul>
                <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-container">
                        <h1 class="h1-large">Conferência da Estaca São Luís - 2024</h1>
                        <a class="btn-solid-lg page-scroll" href="#agenda">Agenda</a>
                        <a class="btn-solid-lg page-scroll" href="#hinos">Hinos</a>
                        <a class="btn-outline-lg page-scroll" href="#mensagem"><i class="fas fa-user"></i>Dar meu testemunho</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- About-->
    <div id="agenda" class="basic-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container first">
                        <h2>Conferência da Estaca São Luís - 2024</h2>
                        <p>Seja bem vindo a Conferência da Estaca São Luís de fevereiro de 2024.</p>
                        <p>Estamos muito felizes com a sua presença e esperamos que você tenha uma maravilhosa experiência espiritual</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container second">
                        <div class="time">Sábado, 24 - 18h</div>
                        <h6>Treinamento de Líderes</h6>
                        <p>Líderes das Organizações nas Alas e Estaca</p>
                        <div class="time">Sábado, 24 - 19h</div>
                        <h6>Reunião Geral do Sacerdócio</h6>
                        <p>Todos os membros portadores do Sacerdócio</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container third">
                        <div class="time">Domingo, 25 - 10h</div>
                        <h6>Sessão Geral</h6>
                        <p>Sessão aberta a todos os membros e convidados</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of about -->


    <!-- Services -->
    <div id="hinos" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Hinos</h2>
                    <p class="p-heading">Hinos especiais da Conferência</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-box">
                        <i class="far fa-gem"></i>
                        <h4>Tal como um facho - 2</h4>
                        <p>
                            Tal como um facho de luz vem ardendo<br />
                            O Espírito Santo do meu Salvador;<br />
                            Os dons e visões do passado, volvendo,<br />
                            Revelam aos homens a lei do Senhor!<br />

                            <strong>[Coro]</strong><br />

                            Cantemos, clamemos, com hostes celestes:<br />
                            Hosana, hosana ao Deus de Belém.<br />
                            A ele sejam glória, poder e domínio,<br />
                            De hoje para sempre. Amém e amém!<br />
                            Estende, ó Pai, sobre nós tua bênção,<br />
                            Tal qual no princípio restaura o poder;<br />
                            Que teus missionários os povos convençam<br />
                            E o véu da descrença consigam romper!<br />

                            <strong>[Coro]</strong><br />

                            Cantemos, clamemos, com hostes celestes:<br />
                            Hosana, hosana ao Deus de Belém.<br />
                            A ele sejam glória, poder e domínio,<br />
                            De hoje para sempre. Amém e amém!<br />
                            Faremos depressa, em solene convênio,<br />
                            O reino do céu se restabelecer;<br />
                            Bem logo entre nós estará o Milênio,<br />
                            A glória de Cristo iremos rever!<br />

                            <strong>[Coro]</strong><br />

                            Cantemos, clamemos, com hostes celestes:<br />
                            Hosana, hosana ao Deus de Belém.<br />
                            A ele sejam glória, poder e domínio,<br />
                            De hoje para sempre. Amém e amém!<br />
                            Que dia ditoso em que os cordeiros<br />
                            Com feros leões sem temor viverão;<br />
                            Serão reunidos na terra os herdeiros<br />
                            E juntos louvores a Cristo darão!<br />

                            <strong>[Coro]</strong><br />

                            Cantemos, clamemos, com hostes celestes:<br />
                            Hosana, hosana ao Deus de Belém.<br />
                            A ele sejam glória, poder e domínio,<br />
                            De hoje para sempre. Amém e amém!
                        </p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-box">
                        <i class="fas fa-code"></i>
                        <h4>Bela Sião - 25</h4>
                        <p>
                            Bela Sião celestial,<br />
                            Bela cidade divinal!<br />
                            Portas tão brancas, triunfais,<br />
                            Templo de bênçãos eternais!<br />
                            Cristo nos deu a salvação;<br />
                            Abrindo as portas de Sião.<br />

                            <strong>[Coro]</strong><br />

                            Belas portas, brancas portas, lindas portas!<br />
                            Belas portas de Sião.<br />
                            Belo lugar de paz e luz,<br />
                            Doce refúgio de Jesus!<br />
                            Lindas estrofes de louvor,<br />
                            Preces ardentes ao Senhor!<br />
                            Que nos promete exaltação,<br />
                            Abrindo as portas de Sião.<br />

                            <strong>[Coro]</strong><br />

                            Belas portas, brancas portas, lindas portas!<br />
                            Belas portas de Sião.<br />
                            Belas coroas a luzir,<br />
                            Altas palmeiras a fremir!<br />
                            Roupas formosas vão usar<br />
                            Os que com Cristo irão morar.<br />
                            Diante de nós, feliz visão,<br />
                            Abrem-se as portas de Sião.<br />

                            <strong>[Coro]</strong><br />

                            Belas portas, brancas portas, lindas portas!<br />
                            Belas portas de Sião.<br />
                        </p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of services -->


  @*   <!-- Details -->
	<div class="split">
		<div class="area-1">
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
            <div class="container">    
                <div class="row">
                    <div class="col-lg-12">     
                        
                        <!-- Text Container -->
                        <div class="text-container">
                            <h2>Why Work With Me</h2>
                            <p>I am a great communicator and love to invest the necessary time to understand the customer's problem very well</p>
                            <h5>DESIGN TOOLS</h5>
                            <p>My favorite design tools are Photoshop and Illustrator but I can create designs in Figma, Sketch and Adobe XD too</p>
                            <h5>DEVELOPMENT SKILLS</h5>
                            <p>I am familiar and work on a daily basis with HTML, CSS, JavaScript, Bootstrap and other modern frameworks</p>
                            
                            <div class="icons-container">
                                <img src="images/details-icon-photoshop.png" alt="alternative">
                                <img src="images/details-icon-illustrator.png" alt="alternative">
                                <img src="images/details-icon-html.png" alt="alternative">
                                <img src="images/details-icon-css.png" alt="alternative">
                                <img src="images/details-icon-bootstrap.png" alt="alternative">
                                <img src="images/details-icon-javascript.png" alt="alternative">
                            </div> <!-- end of icons-container -->
                        </div> <!-- end of text-container -->
                        <!-- end of text container -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
		</div> <!-- end of area-2 -->
    </div> <!-- end of split -->
    <!-- end of details -->

    <!-- Works -->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-1.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><strong>For:</strong> Zigoland, <strong>Project:</strong> started a new website from ground up for a new product <a class="blue" href="project.html">details</a></p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-2.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><strong>For:</strong> Visodream, <strong>Project:</strong> developed a new forum for the Visodream community <a class="blue" href="project.html">details</a></p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-3.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><strong>For:</strong> Primoday, <strong>Project:</strong> complete redesign of their corporate website and platform <a class="blue" href="project.html">details</a></p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-4.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><strong>For:</strong> Nextlite, <strong>Project:</strong> created a custom video editing and upload web app <a class="blue" href="project.html">details</a></p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-5.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><strong>For:</strong> Syncnow, <strong>Project:</strong> web design for their corporate websites and landing pages <a class="blue" href="project.html">details</a></p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-6.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><strong>For:</strong> Shifter, <strong>Project:</strong> started a new website from ground up for a new product <a class="blue" href="project.html">details</a></p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of works --> *@


    <div id="testemunhos" class="basic-2">
        <!-- Testimonials -->
        <div class="cards-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Alguns testemunhos da última conferência</h2>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">
                    
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <p class="testimonial-text">“Esse aqui é um dos testemunhos, um dos testemunhos, um dos testemunhos, um dos testemunhos, um dos testemunhos, ”</p>
                                <div class="details">
                                    <img src="images/testimonial-1.jpg" alt="alternative">
                                    <div class="text">
                                        <div class="testimonial-author">Alícia Lima</div>
                                        <div class="occupation">Ala Pinheiros</div>
                                    </div> <!-- end of text -->
                                </div> <!-- end of testimonial-details -->
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <p class="testimonial-text">“Esse aqui é outro testemunho, um dos testemunhos, um dos testemunhos, um dos testemunhos, um dos testemunhos, ”</p>
                                <div class="details">
                                    <img src="images/testimonial-2.jpg" alt="alternative">
                                    <div class="text">
                                        <div class="testimonial-author">Marcos Lima</div>
                                        <div class="occupation">Ala São Luís</div>
                                    </div> <!-- end of text -->
                                </div> <!-- end of testimonial-details -->
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <p class="testimonial-text">“Esse aqui é outro testemunho, um dos testemunhos, um dos testemunhos, um dos testemunhos, um dos testemunhos, ”</p>
                                <div class="details">
                                    <img src="images/testimonial-3.jpg" alt="alternative">
                                    <div class="text">
                                        <div class="testimonial-author">Júlio Pedrosa</div>
                                        <div class="occupation">Ala Itaqui Bacanga</div>
                                    </div> <!-- end of text -->
                                </div> <!-- end of testimonial-details -->
                            </div>
                        </div>
                        <!-- end of card -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of cards-1 -->
        <!-- end of testimonials -->
    </div>

    <!-- Section Divider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr class="section-divider">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <!-- end of section divider -->

    <div id="faq" class="basic-2">
        <!-- Questions -->
        <div class="accordion-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Perguntas Frequentes</h2>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">

                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Como eu consigo um exemplar do Livro de Mórmon?
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Você pode receber gratuitamente um exemplar do Livro de Mórmon com um Missionário 
                                        (Esses rapazes simpáticos com uma plaquetinha preta na camisa)
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Quem são os missionários?
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        São esses jovens de plaquetinha preta na camisa.<br/>
                                        Eles dedicam dois anos de suas vidas em uma missão de tempo integral.
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end of accordion -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of accordion-1 -->
        <!-- end of questions -->
    </div>

    <!-- Contact -->
    <div id="mensagem" class="form-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Deixe uma mensagem</h2>
                    <p class="p-heading">Deixe uma mensagem expressando como você está se sentindo e suas impressões da Conferência<a class="blue no-line" href="#your-link">contact@domain.com</a></p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Contact Form -->
                    <form id="contactForm">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Nome</label>
                        </div>
                        <div class="form-group">
                            <select type="search" class="form-control-input" id="cname" required>
                                <option value="m" selected="true">Mensagem</option>
                                <option value="t">Testemunho</option>
                                <option value="s">Sugestão</option>
                            </select>
                            <label class="label-control" for="cname">Opção</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">E-mail</label>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Mensagem</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Enviar</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->  
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="social-container">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of social-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © <a class="no-line" href="#your-link">Iniciativa Code</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->

@*         <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Distributed By <a class="no-line" href="https://themewagon.com/">Themewagon</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container --> *@
        
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
</body>